<h1>Which recipe you would like to add?</h1>
<br>
<form action="/recipes" method="post">
  <div>
    <label for="name"><strong>Recipe name:</strong></label><br/>
    <input type="text" name="name">
  </div>
  <div>
    <label for="name"><strong>Recipe description:<strong/></label><br/>
    <textarea type="text" name="description">...</textarea>
  </div>
  <input type="submit" value="Add to cookbook">
</form>
